body {
    background-color: #1e293b; /* bg-slate-900 */
    line-height: 1.625; /* leading-relaxed */
    color: #94a3b8; /* text-slate-400 */
    -webkit-font-smoothing: antialiased; /* antialiased */
    -moz-osx-font-smoothing: grayscale; /* antialiased */
    background: radial-gradient(circle 600px at 1379px 375.4px, rgba(29, 78, 216, 0.15), transparent 80%);
}

::selection {
    background-color: #81e6d9; /* selection:bg-teal-300 */
    color: #234e52; /* selection:text-teal-900 */
}
